 body{
               font-size: 28;
               font-family: Georgia, 'Times New Roman', Times, serif;
               background-color: rgb(129, 76, 76);
            }
            nav li{
                display: inline-block;
                padding: 5px;
            }
            nav ul{
                list-style-type:none;
                margin: 1px;
                padding: 1px;
                display: flex;
            }
            nav{
                background-color:rgb(234, 183, 183)
                text-align: left;
            }
            nav a{
               display: block;
                background-color: rgb(230, 84, 232);
                color:black;
                text-decoration: none;
                padding: 10px 15px;
                 }
            nav a:hover
                  {
                     background-color:rgb(237, 236, 210);
                  }

        li:last-child {
            margin-left: auto;
        }